
<div class="container">
  <h3>Top-rated pets to borrow in your area:</h3>
  <div class="container white-cards">
      <% @pets.each do |pet| %>
          <%= link_to pet_path(pet), class: "card white-card p-2" do %>
            <div class="white-card-img">
              <% if pet.photos.attached? %>
                <%= cl_image_tag pet.photos.first.key, crop: :fill %>
              <% else %>
                <%= image_tag "pet_default_shadow.jpg", crop: :fill %>
              <% end %>
            </div>
            <div class="pet-info">
              <p> <strong>name:</strong> <%= pet.name %> </p>
              <p> <strong>species:</strong> <%= pet.species %> </p>
              <p class = "text-muted"> daily price: $<%= (pet.price_per_day).round %> </p>
            </div>
        <% end %>
      <% end %>
  </div>
</div>
