
<div class="container">
  <h3 class="m-3">Top-rated pets to borrow in your area:
    <%= link_to map_pets_path do %>
      <%= icon('fas', 'map-marked') %>
    <% end %>
  </h3>
  <div class="container white-cards">
      <% @pets.each do |pet| %>
          <%= link_to pet_path(pet), class: "card white-card p-2" do %>
            <div class="white-card-img">
              <% if pet.photos.attached? %>
                <%= cl_image_tag pet.photos.first.key, crop: :fill %>
              <% else %>
                <%= image_tag "pet_default_shadow.jpg", crop: :fill %>
              <% end %>
            </div>
            <div class="pet-info">
              <p> <strong> <i class="fas fa-tag"></i> </strong> <%= pet.name %> </p>
              <p> <strong> <i class="fas fa-paw"></i></strong> <%= pet.species %> </p>
              <p> <strong> <i class="fas fa-dollar-sign"></i> </strong> <%= (pet.price_per_day).round %>  per day </p>
            </div>
        <% end %>
      <% end %>
  </div>
</div>
