
<div class="container row justify-content-center">
  <div class="col-6">
    <div class="pt-4">
      <h1> <%= @pet.name %> - <%= @pet.species %> </h1>
        <% if !@pet.address.nil? %>
      <p> <%= @pet.address.capitalize %> </p>
        <% end %>
    </div>

    <%= render 'pet_photo_carousel' %>

    <div class="card-pet-bottom px-3 pt-3">
      <div class="card-pet-price mb-4">
        <div>
          <h2>$<%= (@pet.price_per_day).round %>/day</h2>
          <p>The one you must have!!</p>
        </div>
        <h2 class="card-pet-button btn btn-sec-action">
          <%= link_to "Book Me!", new_pet_booking_path(@pet) %>
        </h2>
      </div>

      <div class="pet-info">
        <div class="info-list">
          <h2>
            <strong> <i class="fas fa-paw"></i></strong> <%= @pet.species %> <br><br>
            <span> <i class="fas fa-toilet"></i> <%= @pet.toilet_trained ? 'I can hold it in' : 'I may leave a mess' %> </span>
          </h2>
        </div>
        <div class="pet-description">
          <p>Description: <%= @pet.description %></p>
        </div>
      </div>
      <h6 class="owner">Owned by <%= @pet.user.email %></h6>
    </div>

  </div>

  </div>

</div>
