<div class="container">

<div class="d-flex mt-2 mr-2">
  <h2 class="card-pet-button btn btn-sm btn-action mt-2"><i class="fas fa-long-arrow-alt-left" style="color: white"></i>
    <%= link_to " Back", pets_path %>
  </h2>
  <h2 class="mt-2 ml-5 margin-fix-last"> <%= current_user.email.partition('@').first.capitalize %>'s Dashboard</h2>
</div>


<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings" type="button" role="tab" aria-controls="bookings" aria-selected="true">Your Bookings</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pets-tab" data-bs-toggle="tab" data-bs-target="#pets" type="button" role="tab" aria-controls="pets" aria-selected="false">Your Pets</button>
  </li>
   <li class="nav-item" role="presentation">
    <button class="nav-link" id="new-tab" data-bs-toggle="tab" data-bs-target="#new" type="button" role="tab" aria-controls="new" aria-selected="false">Add a new pet</button>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
    <%= render 'shared/bookings' %>
  </div>

  <div class="tab-pane" id="pets" role="tabpanel" aria-labelledby="pets-tab">
    <%= render 'shared/your_pets' %>
  </div>

  <div class="tab-pane" id="new" role="tabpanel" aria-labelledby="new-tab">
    <%= render 'pets/new' %>
  </div>
</div>







</div>
