<div class="white-cards">
  <% @pets.each do |pet| %>
    <%= link_to pet_path(pet), class: "card white-card p-2 mt-2" do %>
        <div class="white-card-img">
          <% if pet.photos.attached? %>
            <%= cl_image_tag pet.photos.first.key, crop: :fill %>
          <% else %>
            <%= image_tag "pet_default_shadow.jpg", crop: :fill %>
          <% end %>
        </div>
        <div class="white-card-description p-2 position-relative">
          <h6> <i class="fas fa-tag"></i> <%= pet.name %> </h6>
          <% if pet.bookings.size == 0 %>
              <h6> <%= pet.name %> has no bookings </h6>
          <% end %>
          <% pet.bookings.each do |booking| %>
            <h6> <%= booking.user.email %> </h6>
            <h6> <i class="far fa-calendar-alt"></i> <%= booking.start_date.strftime('%d-%b-%Y') %> to <%=  booking.end_date.strftime('%d-%b-%Y') %> </h6>
          <% end %>
          <p class="text-danger position-absolute cancel-button"> Edit </p>
        </div>
    <% end %>
  <% end %>
</div>
